<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Produto</title>
</head>
<body>
    <ul>
        <li><a href="/product">Index</a></li>
        <li><a href="/product/list">Lista de Produto</a></li>
        <li><a href="/product/form">Form de Produto</a></li>
        <li><a href="/product/categories/list">Lista de Categorias</a></li>
        <li><a href="/product/categories/form">Form de Categorias</a></li>
    </ul>
</body>
</html>